<mat-toolbar color="primary">
  <div class="menu">
    <mat-toolbar-row class="button-row">
      <a mat-button disabled><img src="../assets/LogoBN.png"/></a>
      <button mat-raised-button routerLink="/register">Register</button>
      <button mat-raised-button routerLink="/passgen/password">Generate Password</button>
      <button mat-raised-button routerLink="/passgen/passphrase">Generate Passphrase</button>
    </mat-toolbar-row>
  </div>
</mat-toolbar>
<mat-card class="center">
<router-outlet></router-outlet>
</mat-card>
