.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  display: table;
}
.button-row {
  display: table-cell;
}
.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

img {
  width: 150px;
  height: auto;
  display: table-cell;
}
